*{
    border: 60%;
    border-radius: 100px;
    border-color: blue;
}
.section-2{ 
position: absolute;
top: 30%;
left: 30%;
width: 30%;
border: 2px solid green;
border-radius: 12px;
padding: 50px;

text-align: center;
background-color: aqua;
}
