.yourpet{
    display: flex;
     }
     .logo{
         font-size:30px ;
         padding: 10px;
         margin: 10px;
         padding-top: -20%;
     }
     .logo p{
margin-top: -40px;
     }
.body{
}
.nav li{
    list-style: disc;
    display: inline;
    text-decoration: none;
    padding: 30px;
}

nav{
    text-align: right;
    font-size: 20px;
    text-decoration: none;
}
.head p{
    color: orange;
    margin-left: 9px;
    padding-left:20px;
    }
    .head button{
        color:white;
        background-color: rgb(0, 204, 255);
        border-radius: 25px;
    }
    
.btn{
    padding: 20px;
    margin: 20px;
    display: flex;
}
.btn p {
    padding-left: 230px;
    margin-right: 300px;
    display:inline-flex;
}
head h1{
    font-size: 50px;
    font-style: oblique;
    color: black;
}

head h2{
    font-size: 20px;
    font-style: italic;
    color: black;

}
.img-box{
    position: absolute;
    border-radius: 50%;
    border:45px solid  rgb(183, 232, 245);
    margin-left: 60%;
    margin-top: 10px;
    height: 37%;
    width: 30%;
}
.page2{
    display: inline-flex;
    background-color: rgb(203, 243, 230);
}
 .assi{
    margin: 25px;
    padding: 60px;
    background-color: white;
}

    

.ambulance{
    margin: 25px;
    padding: 60px;
    background-color: white;
}


.service{
    margin: 25px;
    padding: 60px;
    background-color: white;
}
.page2 i{
    color:rgb(54, 238, 238);
    

}


.oparation{
    margin: 25px;
    padding: 60px;
    background-color: white;
}
.page3 i{
    color:rgb(54, 238, 238);
    

}
.parturiation{
    margin: 25px;
    padding: 60px;
    background-color: white;
}
.pet{
    margin: 25px;
    padding: 60px;
    background-color: white;
}
.page3{
    display: inline-flex;
background-color: rgb(203, 243, 230); 
padding-left: 15px;
 }
.best{
    padding-left: 100px;
    margin: 80px;
    background-color: azure;
    height:224px;
    width:400px;
    margin-left: 20px;
  }
  .best button{
      border-radius: 20px;

 }

.but{
    margin-bottom: 400px;
    padding-bottom: 50px;
     display: inline;
    
    
    
    }
.image{
    margin: left 60px; 
    padding:top 30px;
}
.thirdsec{
    display: inline-flex;
    margin-left: 2px;
}
.what {
    margin: 30px;
    padding: 80px;
   display: inline-flex;
   /* background-color: azure; */
}
.what p{
    padding-left: 400px;
    /* background-color: azure; */
}
.besidewhat{
    margin-left: 600px;
    scroll-padding: 50px;
    margin-bottom: 100%;
    scroll-padding-top: 80px;
}
.Experienced{
    margin-left: 30px;
    margin-top: 25px;
    /* background-color: rgb(203, 243, 230); */
    padding-left: 9px;
}
.Experienced p{
    color: rgb(165, 143, 185);   
}
.Experienced i2{
    color:rgb(119, 230, 230);
    size:60px;
}
.Experienced i{
  color:orange
}

.both{  
    /* background-color: rgb(203, 243, 230); */
    margin: 30px;
    padding-left: 200px;
    }
    .both i2{
        color:rgb(157, 231, 231);
        size: 60px;
    }
    .both h2{
       font: size 2%;
    }
    .both p{
        color: rgb(165, 143, 185);
    }
    .both i{
        color:orange;
    }
.words{
    display: inline-flex;
    background-color:white;
    border-width: 30px;
}
.page4{
    display: inline-flex;
    background-color: azure; 
    height: 300px; 
}
.quality{
    padding-left: 50px;
    background-color: azure;
    height: 300px;
    }
    .quality.images{
        background-color: azure;

    }
.page5.images{
    
        margin: 30px;
        padding: 80px;
       display: inline-flex;
       background-color: azure;
}
.mainfooter{
    display:inline-flex;
    padding: 50px;
    background-color: azure;
        
}

.subfut1{
    padding: 100px;

}

.subfut2{
    padding: 100px;
    
}

.subfut3{
    padding: 100px;
    
}


.subfut4{
    padding: 100px;
    
}
.page6{ 
padding:40px;
margin:80px;
height: 240px;
width:800px;
background-color:azure;
border-radius: 26px;
font-size:36px;
margin-left: 12%;
text-align:center;

}
.Subscribe{  
font: size 20px;
background-color: rgb(59, 172, 172);
display:flex;
height :32px;
width: 60px;
margin-left: 30%;

}
.Subscribe input{
    border-radius:65px;
}
.text{
    height: 20px;
    margin-left: 45px;
    padding: 32px;
    width: 20px;
}
.images{
    display: flex;
}
.neil{
    padding: 40px;
}
.neil1{
    padding: 40px;
}
.neil2{
    padding: 40px;
}
.quality p{
    margin: left;
    padding-left: 90%;
    color:rgb(0, 183, 255);
}
.both h2{
    padding-left: 13%;
    color:rgb(0, 183, 255);
    font-size :15px;
    margin-top: -8px;

}
.subfut1 i{
    color:blue;
}
.subfut1 ia{
    color:rgb(0, 204, 255);
}
.subfut1 ib{
    color:red;
}
.subfut1 ic{
    color:rgb(0, 81, 255);
}







    

    
